
/****************** INICIO  ******************/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  user-select: none;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #acaffe;
  border-radius: 0px;
}

/*************************** MENU COMPLETO ***********************************/
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding: 1rem 2rem;
  border-bottom: 0.1rem solid gray;
  background-color: rgb(25, 25, 25, 0.8);
  top: 0;
  z-index: 1;
  position: fixed;
  width: 100%;}

  .menu .logo{
      width: 15rem;
      display: block;
      border-radius: 4px;
  }
  
  
  .menu .nav__icono {
      display: none;
      font-size: 3rem;
      color: white;
    }


.nav__caja {
background: #191919;
width: 100%;
height: max-content;
display: flex;
flex-direction: row;
align-items: center;
gap: 5rem;
position: absolute;
top: 5rem;
list-style: none;
left: 0;
text-transform: capitalize;
transition: 1s;
overflow: hidden;
height: 0;
border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
}



.nav__caja a {
color: white;
text-decoration: none;
transition: 0.8s;
cursor: pointer;
padding: 0 0.5rem;
}

.nav__caja a:hover {
color: #acaffe;
border-bottom: 0.15rem solid #acaffe;
}


.nav__caja a.selected {
color: #acaffe;
border-bottom: 0.15rem solid #acaffe;
}

.nav__caja.active {
height: max-content;
padding: 6rem 0;
margin-top: 2rem;
}

.nav__caja.active a {
padding: 1rem 0; 
}


/* BARRA DE NAVEGACION RESPONSIVE */

@media (min-width: 950px) {
.menu .nav__icono { 
  display: none;
}
.nav__caja {
  background: transparent;
  flex-direction: row;
  position: initial;
  height: max-content;
  border-bottom: none;
}
}

@media (max-width: 950px) {
.menu .nav__icono {
  display: block; 
  font-size: 2rem; 
  color: white;
  cursor: pointer;
  flex-direction: column; 
}
.nav__caja {
  display: none;
}
.nav__caja.active {
  display: flex; 
  flex-direction: column;
}
}


@media (max-width:400px){
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding: 1rem 2rem;
  border-bottom: 0.1rem solid gray; 
  background-color: rgb(25, 25, 25, 0.8);
  top: 0;
  z-index: 1;
  position: fixed;
  width: 100%;}
}


/*************************** FINAL DE MENU *************************/


/*************************** HEADER ********************************/
 
/* Estilos para el encabezado */

.header-back{
background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
background-size: 100% 30%, cover; 
background-position: bottom, center; 
background-repeat: no-repeat, no-repeat; 
height: 65rem;
align-items: center;
}

.header {
height: 50rem;
background-color: rgba(255, 255, 255, 0.4); 
width: 90%;
margin: 10.5rem auto 0;
border-radius: 30px;
margin-bottom: 3.8rem;
text-align: center;
}

.contenedor-header {
backdrop-filter: blur(8px); 
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7); 
padding: 1rem; 
border-radius: 30px;
}

.header .contenedor-header .nombre,
.header .contenedor-header h2 {
opacity: 0.9; 
text-shadow: -0.4px -0.4px 0 black, 0.4px -0.4px 0 black, -0.4px 0.4px 0 black, 0.4px 0.4px 0 black; 
}

.header .contenedor-header {
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.header h2 {
width: 100%;
text-align: center;
font-family: "Indie Flower", sans-serif;
letter-spacing: 0.1rem;
font-size: 3rem;
}

.header .contenedor-header{
letter-spacing: 0.2rem;
font-family: "Indie Flower", sans-serif;
font-weight: bold;
}
.header .contenedor-header .nombre span {
font-size: 4.5rem;
}

.header .contenedor-header .nombre .fade-in {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}



/* HEADER RESPONSIVE */
@media (max-width: 768px) {
  .header{
    margin: 9.5rem auto 0;
    height: 70%;
  }

  .header h2{
    font-size: 2rem;
  }

  .header .contenedor-header .nombre span {
    font-size: 3.5rem;
  }

  .header-back{
    width: 100%;
  }
}

@media(max-width:768px){
  .header{
    margin: 9.5rem auto 0;
    height: 65%;
  }
  .header h2{
    font-size: 1.8vh;
    padding-top: 3vh;
  }
  .header .contenedor-header .nombre span {
    font-size: 3.5vh;
  }
}

@media(max-width:400px){

  
  
}

/************* BODY *******************/
body {
  font-family: 'Oswald','sans-serif';
  background: url('./img/prism5.jpg') repeat;
  background-attachment: fixed;
  color: white;
}
img{
  max-width: 100%;
}
/*        SECCION 1      ( SOBRE MI )     */


.main .seccion1{
  position: relative;
  height: 70rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.99);
}

.main .sobre-mi{
  align-items: center;
  position: absolute;
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 20px;
  margin: 6rem 3%;
  height: 100vh;
  width: 95%;
  border-radius: 30px;
  background-color: black; 
  backdrop-filter: blur(10px); 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}


.sobre-mi .caja1 .foto{
  border-radius: 30px;
  height: 100%;
  width: 100%;
  margin-left: 1.2rem;
  margin-top: 14.5rem;
}

.sobre-mi .caja1 .nombre{
  margin-left: 2rem;
}

.sobre-mi .caja1{
  text-align: center;
}

.image-container {
  width: 90%; 
  max-width: 600px; 
  margin: 2rem auto; 
  opacity: 0; 
  transition: opacity 1s ease; 
}

.image-container.show {
  opacity: 1;
}

.seccion1 .caja2 .titulo-sobre-mi{
  margin-top: 1.2rem;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: xx-large;
  color: white;
  text-align: center;

}

.seccion1 .caja2{
  margin-right: 2rem;
}

.seccion1 .caja2 p{
  font-family: 'Roboto Slab', serif;
  text-align: justify;
  width: 96%;
  font-size: 2vw;
}

/* SOBRE MI RESPONSIVE  */


@media (min-width: 1280px){
.main .sobre-mi{
  margin: 6rem 2%;
}  
}


@media (min-width: 768px){
.sobre-mi .caja1 .foto{
  border-radius: 30px;
  height: 90%;
  width: 90%;
  margin-left: 0rem;
  margin-top: 3vh;

}

.seccion1 .caja2 p{
  font-family: 'Roboto Slab', serif;
  text-align: justify;
  font-size: 1.5vw;
}

.main .sobre-mi{
  height: 77%;
}
}

@media (min-width: 1367px){
.image-container {
  width: 21vw; 
  max-width: 30vw; 
  margin: 1rem auto; 
}

.seccion1 .caja2 p{
  font-family: 'Roboto Slab', serif;
  text-align: justify;
  width: 96%;
  font-size: 1.27vw;
}
}

@media (max-width:767px){
.main .sobre-mi {
  display: flex;
  flex-direction: column;
  height: 102vh;
}

.sobre-mi .caja1 .foto {
  flex: 1;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
}
.main .seccion1 { 
  height: 100rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.99);
}

.image-container {
  width: 70%;
}

.sobre-mi .caja1{
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}

.sobre-mi .caja1 .nombre{
  margin-bottom: 1.5rem;
}

.seccion1 .caja2 .titulo-sobre-mi{
  margin-left: 1rem;
  margin-top: 0rem;
}

.seccion1 .caja2 p{
  width: 100%;
  font-size: 2.4vw;
  margin-left: 10px;
  margin-right: 10px;
}
}

/*         SECCION 2    SKILLS        */

.main .seccion2{
height: 90rem;
background-color: #e0bc97;
flex-direction: column;
justify-content: center;
}

.main .seccion2 .skills{
background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)); 
background-position: top; 
background-repeat: no-repeat; 
background-size: 100% 30%; 
height: 65rem;

}

/* Estilos para el contenedor de las tarjetas */
.contenido-skills {
margin: auto; 
display: flex;
width: 92%;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: 5vw;
}


.seccion2 .contenedor-intro{
display: flex;
flex-direction: column;
align-items: center;
}
.titulo-skills {
text-align: center;
display: flex;
flex-direction: column;
font-family: 'Libre Baskerville', serif;
font-size: 4rem;
color: #acaffe;
text-shadow: 2px 2px 2px rgba(1, 1, 1, 0.8); 
letter-spacing: 2px; 
margin-top: 15vh;
}

.seccion2 .skill-intro{
margin-top: 1vh;
font-family: 'Libre Baskerville', serif;
font-size: 2rem;
color: black;
text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
flex-direction: column;
text-align: justify;
width: 70rem;
}

.contenido-skills .contenedor-tarjetas{
padding-top: 2vh; 
margin: auto;
display: flex;
flex-direction: row;
}
/*         Tarejtas de Skills          */

.contenido-skills .container3 {
flex-direction: row;
justify-content: center;
gap: 1rem;
}

.contenido-skills .container4 {
flex-direction: row;
justify-content: center;
gap: 1rem;
}

.contenido-skills .container5 {
flex-direction: row;
justify-content: center;
gap: 1rem;
}

.card {
width: 16rem;
height: 16rem;
perspective: 1000px;
transform-style: preserve-3d;
position: relative;
margin: 2rem;
}

.face {
position: absolute;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.1); 
backdrop-filter: blur(10px); 
border-radius: 16px; 
border: 1px solid rgba(255, 255, 255, 0.3); 
box-shadow: 
  0 0 10px rgba(0, 0, 0, 0.1), 
  0 8px 32px rgba(0, 0, 0, 0.1), 
  0 0 32px rgba(0, 0, 0, 0.1); 
color: #ecf0f1;
transition: transform 0.5s ease-in-out;
backface-visibility: hidden;
transform-style: preserve-3d;
}

.card:hover .face--front {
transform: rotateX(180deg);
}

.card:hover .face--back {
transform: rotateX(0deg);
}

.face--back {
transform: rotateX(180deg);
font-size: 1.2rem;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
background: rgba(255, 255, 255, 0.1); 
color: black;
border-radius: 16px; 
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
opacity: 0;
}

.seccion2 .card p{
text-align: center;
font-size: 10px;
margin-bottom: 1rem;
}

.seccion2 .card .titulo-lenguaje{
text-align: center;
font-size: large;
}


.face--back {
animation: showName 0.5s ease-in-out forwards;
animation-delay: 0.5s; /* Retrasamos la animación para que aparezca después de la rotación */
}

.show-name .face--back {
animation-delay: 0s; /* Revertimos el retraso para que la animación comience inmediatamente al hacer hover */
}

.show-name .face--back {
animation: showName 0.5s ease-in-out forwards;
}


@keyframes showName {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

/* SKILLS RESPONSIVE */


@media (min-width:900px){
  .seccion2 .card .titulo-lenguaje{
    text-align: center;
    font-size: large;
    margin-top: 1rem;
  }
  
  .seccion2 .card p{
    text-align: center;
    font-size: 1.2vh;
    margin-bottom: 1rem;
  }
}

@media (max-width:800px){
  .seccion2 .card .titulo-lenguaje{
    text-align: center;
    font-size: small;
    margin-top: 1rem;
  }
  
  .seccion2 .card p{
    text-align: center;
    font-size: 2px;
    margin-bottom: 1rem;
  }
}



@media (min-width: 850px) and (max-width: 900px ) {  
.main .seccion2{
  height: 80rem;
}
.titulo-skills {
  font-size: 7rem;
  margin-right: 6rem;
  margin-top: 3rem;
}

}

@media (min-width: 1262px) { 
.main .seccion2{
height: 70rem;
max-width: 100%;
}

.seccion2 .card p{
  text-align: center;
  font-size: 10px;
  margin-bottom: 1rem;
}

.contenido-skills {
  flex-direction: row;
  margin-left: 6rem;
  display: flex; 
}

.seccion2 .contenedor-intro{
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
}

.titulo-skills {
  font-size: 6rem;
  margin-right: 20rem;
  margin-top: 12rem;
}

.seccion2 .skill-intro{
  margin-right: 4rem;
  font-size: 3rem;
  width: 55rem;
}

.contenido-skills .contenedor-tarjetas{
  padding-top: 12vh; 
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-right: 8vw;
}
}

@media (max-width:768px) and (min-width:400px){

  .contenido-skills .contenedor-tarjetas{
  padding-left: 18rem;  
  }

  .titulo-skills {
    margin-right: 0rem;
    margin-top: 9rem;
  }

}



@media (max-width:768px){
.seccion2 .skill-intro{
  font-size: 2vh;
  width: 40vh;
}

.contenido-skills .contenedor-tarjetas{
  width: 100%;
}
.card {
  width: 10rem;
  height: 10rem;
  margin: 1vh;
}

.face--back {
  width: 10rem;
  height: 10rem;
}

.seccion2 .card .titulo-lenguaje{
  text-align: center;
  font-size: small;
  margin-top: 0.2rem;
}

.seccion2 .card p{
  text-align: center;
  font-size: 0.6vh;
  margin-bottom: 0.2rem;
}

.main .seccion2{
  height: 70rem;
}

}

/***************** SECCION 3 PROYECTOS **************/
.main .seccion3{
height: 105vh;
position: relative;
width: 100%;
background-color: #D4AF37;
}

.main .seccion3 .proyecto-back {
background: linear-gradient(to bottom, #e0bc97, #D4AF37);
padding-top: 10rem;
background-position: top;
background-repeat: no-repeat;
background-size: 100% 30%;
padding-top: 20vh;

}

.seccion3 .contenedor-tarjetas {
padding-top: 3rem;
display: flex;
flex-direction: row; 
flex-wrap: wrap; 
justify-content: space-between; 
}

.seccion3 .proyecto-back .titulo-proyectos{
font-family: 'Libre Baskerville', serif;
font-size: 7vw;
text-align: center;
}

.proyecto {
display: flex;
justify-content: center;
align-items: center;
flex-direction: row; 
flex-basis: calc(23vw - 20px); 
padding-top: calc(23vw - 20px);
margin: 4px;
border: 1px solid #ccc;
border-radius: 10px;
overflow: hidden;
position: relative;
transition: transform 0.3s ease;
}

.contenedor-p {
background-color: rgba(204, 204, 204, 0.4); 
width: auto;
height: auto;
padding: 20px; 
border-radius: 30px;
margin: 1.3%;
border: 2px solid black;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

}

.proyecto img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
transition: filter 0.5s ease, opacity 0.3s ease; 


}

.proyecto:hover img {
filter: blur(1px); 
opacity: 0.9; 
}

.seccion3 .p3{
object-position: top left;

}

.seccion3 .p2{
object-fit: contain;

}


.descripcion {
background-color: rgba(0, 0, 0, 0.8);
color: #fff;
width: 100%;
padding: 1rem;
position: absolute;
bottom: 0;
left: 0;
transform: translateY(100%);
transition: transform 0.3s ease;
border-radius: 10px;

}

.proyecto:hover .descripcion {
transform: translateY(0);
}

.descripcion p {
margin: 0;
font-size: 1vw;
}

.descripcion a {
display: inline-block;
margin-top: 1rem;
background-color: #fff;
color: #333;
padding: 0.5rem 1rem;
text-decoration: none;
border-radius: 5px;
}

.descripcion a:hover {
background-color: #eee;
}


@media (min-width:769px) and (max-width:844px){

.proyecto {
  padding-top: calc(24vh - 20px); 
  flex-basis: calc(25% - 10px); 

}

.main .seccion3 .proyecto-back {
  padding-top: 25vh;}


.main .seccion3{
  height: fit-content;
}

.contenedor-p {
  height: auto; 
}

.seccion3 .contenedor-tarjetas {
  padding-top: 1rem;
}

}


@media(max-width:940px){
.main .seccion3{
  height: 85vh;
}

}

@media(max-width:780px){
.main .seccion3{
  height: 75vh;
}

.descripcion h3{
  font-size: 60%;
}
}


@media(max-width:670px){
.main .seccion3{
  height: 70vh;
}

.descripcion p{
  font-size: 1vw;
}

.descripcion h3{
  font-size: 50%;
}

.main .seccion3 .proyecto-back {
  padding-top: 14vh;}

.main .proyecto{
  flex-basis: calc(50% - 10px); 
  padding-top: calc(40vw - 20px);
}

.seccion3 .contenedor-tarjetas {
  flex-wrap: wrap; 
  justify-content: space-between; 
}
}
/*****************  CERTIFICACIONES  ******************/
.main .seccion4{
position: relative;
height: 75rem;
width: 100%;
background-color: #FEF9E7;
}

.main .seccion4 .certif-back {
background: linear-gradient(to bottom, #D4AF37, #FEF9E7);
padding-top: 15rem;
background-position: top;
background-repeat: no-repeat;
background-size: 100% 40%;
}

.certificados {
min-height: 100vh;
margin-bottom: 2rem;
}

.certificados .contenedor-certificados {
display: grid;
justify-content: center;
grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
grid-gap: 2rem;
margin-top: 3rem;
}

.certificados .contenedor-certificados img {
width: 43rem;
height: 33rem;
transition: all 0.5s ease-in-out;
border-radius: 10px;
}

.certificados .contenedor-certificados img:hover {
transform: scale(1.1);
}

.contenedor-certificados a {
display: flex;
justify-content: center;
align-items: center;
}

.certificados h2.titulo {

font-size: 7rem;
color: #333;
text-align: center;
padding-bottom: 1.5rem;
}

@media(max-width:400px){

.main .seccion4{
  height: 60rem;
}

.certificados h2.titulo {
  font-size: 5rem;
}

.certificados .contenedor-certificados img {
  width: 30rem;
  height: 28rem;
}
}

.lb-loader,.lightbox{text-align:center;line-height:0}.lb-dataContainer:after,.lb-outerContainer:after{content:"";clear:both}html.lb-disable-scrolling{overflow:hidden;position:fixed;height:100vh;width:100vw}.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}.lightbox{position:absolute;left:0;width:100%;z-index:10000;font-weight:400}.lightbox .lb-image{display:block;height:auto;max-width:inherit;max-height:none;border-radius:3px;border:4px solid #fff}.lightbox a img{border:none}.lb-outerContainer{position:relative;width:250px;height:250px;margin:0 auto;border-radius:4px;background-color:#fff}.lb-loader,.lb-nav{position:absolute;left:0}.lb-outerContainer:after{display:table}.lb-loader{top:43%;height:25%;width:100%}.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(./certificate/loading.gif) no-repeat}.lb-nav{top:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}.lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(./certificate/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(./certificate/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;border-bottom-left-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{display:table}.lb-data{padding:0 4px;color:#ccc}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}.lb-data .lb-caption a{color:#4ae}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(./certificate/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}


/****************   CONTACTO  ***********************/
.main .seccion5 {
position: relative;
height: 65rem;
width: 100%;
background-color: #faf7ee;
}

.main .seccion5 .contacto-back {
background: linear-gradient(to bottom, #FEF9E7, #faf7ee);
padding-top: 5rem;
background-position: top;
background-repeat: no-repeat;
background-size: 100% 40%;
}

.formulario-container {
width: 90%;
background: linear-gradient(135deg, rgba(26, 26, 26, 0.6), rgba(255, 255, 255, 0.3));
padding: 30px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
border: 1px solid #ccc;
opacity: 0;
transform: translateX(-100%); 
transition: opacity 0.5s ease, transform 0.5s ease;
border-radius: 30px;
}

/* Estilos para las etiquetas de los campos del formulario */
.formulario-container label {
display: block;
margin-bottom: 10px;
font-size: 18px;
}

/* Estilos para el campo del nombre */
.formulario-container input[type="text"] {
width: 100%;
padding: 10px;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 5px;
}

/* Estilos para los campos de entrada de texto y textarea */
.formulario-container input[type="email"],
.formulario-container textarea {
width: 100%;
padding: 10px;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 5px;
}

/* Estilos para el botón de enviar */
.formulario-container button[type="submit"] {
background-color: #4CAF50;
color: #fff;
padding: 12px 20px;
font-size: 18px;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.formulario-container button[type="submit"]:hover {
background-color: #45a049;
}

/* Animación para mostrar el formulario */
@keyframes slideInFromLeft {
to {
  opacity: 1;
  transform: translateX(5%);
}
}

/* Agrega la clase animate-slide-in al formulario para activar la animación */
.animate-slide-in {
animation: slideInFromLeft 1s forwards;
}

.main .seccion5 .titulo {
font-size: 7rem;
color: #333;
text-align: center;
margin-bottom: 30px;
text-transform: uppercase;
}

/*  CONTACTO RESPONSIVE   */
@media (min-width: 1280px) {
@keyframes slideInFromLeft {
  to {
    opacity: 1;
    transform: translateX(6%);
  }
}
}

@media (max-width:400px){
.main .seccion5 .titulo {
  font-size: 5rem;
}

}

/***************** FINAL ***********************/
.main .final{
background: linear-gradient(to bottom, #faf7ee, white);
height: 1rem;
}


/************** FOOTER ****************/
.footer {
  background: #d1d1d1;
  color: #000000;
  padding: 2rem 0 0 0;
}

.footer .contenedor .redes-sociales {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
}

.footer .contenedor .redes-sociales .social {
  width: 6.5rem;
  height: 6.5rem;
  background: #f1f1f1;
  margin: 0 0.625rem;
  border-radius: 30%;
  box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #00000070;
  overflow: hidden;
  position: relative;
}

.footer .contenedor .redes-sociales .social i {
  line-height: 6rem;
  font-size: 3.5rem;
  transition: 0.2s linear;
}

.footer .contenedor .redes-sociales .linkedin {
  color: #0e76a8;
}

.footer .contenedor .redes-sociales .instagram {
  color: #bc2a8d;
}

.footer .contenedor .redes-sociales .facebook {
  color: #00acee;
}

.footer .contenedor .redes-sociales .youtube {
  color: #c4302b;
}

.footer .contenedor .redes-sociales .github {
  color: #333333;
}

.footer .contenedor .redes-sociales .social:hover i {
  transform: scale(1.3);
  color: #ffffff;
}

.footer .contenedor .redes-sociales .social::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.footer .contenedor .redes-sociales .linkedin::before {
  background: #0e76a8;
}

.footer .contenedor .redes-sociales .instagram::before {
  background: #bc2a8d;
}

.footer .contenedor .redes-sociales .facebook::before {
  background: #00acee;
}

.footer .contenedor .redes-sociales .youtube::before {
  background: #c4302b;
}

.footer .contenedor .redes-sociales .github::before {
  background: #333333;
}

.footer .contenedor .redes-sociales .social:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}


.footer p {
  background: #d1d1d1;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
}

.boton-arriba {
  padding: 1rem;
  background: black;
  border-radius: 50%;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 1;
}